#list-heroes {
  width: fit-content;
  padding: 0.5rem;
  border: 1px solid;
}
.hero, .hero-header {
    display: grid;
    padding: 0.25rem 0.5rem;
    grid-template-columns: 150px 85px 85px 85px 150px
}
.hero-header {
  border-bottom: 1px solid #d6d6d6;
  padding: 0.5rem;
}
.hero:hover {
  background-color: #b7ecec;
}
#profile-hero {
  border: 1px solid;
  width: fit-content;
  padding: 1rem;

  .profile-image img {
    width: 150px;
  }
}
.form-wrapper {
  .field {
    display: flex;
    margin-bottom: 0.5rem;
  }
  label {
    width: 70px;
  }
}
input#image {
    display: none;
}
#add-image {
    width: 30px;
}