.hero, .hero-header {
    display: grid;
    grid-template-columns: 150px 100px 100px 100px 100px;
}

.field {
    display: flex;
    padding-bottom: 0.5rem;
}

input#image {
    display: none;
}

img {
    width: 30px;
}